* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    padding: 20px 40px;
}

h1 {
  font-weight: 100;
}

h2 {
  font-weight: 100;
  color: rgb(97, 149, 19);
}

h3 {
  font-weight: 100;
  color: rgb(90, 167, 244);
  padding-top: 10px;
  line-height: 1;
}

li {
  line-height: 1.2;
}
